<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.temsistemas.escobarusados"
        version     = "0.0.1" >

    <name>Escobar Usados</name>

    <description>
        Mobile app for Escobar Usados 
    </description>

    <author href="http://www.temsistemas.com/" email="info@temsistemas.com">
        Tem Sistemas
    </author>
    
    <preference name="phonegap-version"           value="3.3.0" />
    
    <icon src="icon.png" />

</widget>