<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.temsistemas.escobarusados"
        version     = "0.0.1" >

    <name>Escobar Usados</name>

    <description>
        Mobile app for Escobar Usados 
    </description>

    <author href="http://www.temsistemas.com/" email="info@temsistemas.com">
        Tem Sistemas
    </author>
    
    <preference name="phonegap-version"           value="2.9.1" />
    
    <preference name="show-splash-screen-spinner" value="true" /> 
    
    <icon src="images/config/icon.png" />
    
    <gap:splash src="images/config/portrait.jpg"		gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="blackberry" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="ios"     width="320" height="480" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="ios"     width="640" height="960" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="images/config/portrait.jpg"		gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="images/config/landscape.jpg"		gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="images/config/landscape.jpg"		gap:platform="winphone" />

</widget>